body{
    font-family: 'Oswald';
}
#title{
    background-color: black;
}
h1{
    font-family: 'Bebas Neue';
    font-weight: 700;
    font-size: 6rem;
    line-height: 1.5;
    color: #de7119;
}
h2{
    font-family: "Bebas Neue";
    
}
h3{
    font-family: "Bebas Neue";
    
}
/* p{
    font-family: "Bebas Neue";
    color: rgb(20, 142, 20);
} */
.container-fluid{
    padding:  0.5% 1.5%;
}
.navbar{
    padding-bottom:4.5rem ;
}
img{
    padding: 0 5% 10%;
}
.title-image{
    position: absolute;
}
#features{
    background-color: white;
    padding: 7% 15%;
    position: relative;
    z-index: 1;
}
.news-box{
    text-align: center;
    padding: 3%;
}
#testimonials{
    background-color: black;
    padding: 2% 15% ;
    text-align: center;
    color: #15ae15;
}
#press{
    background-color: black;
    padding: 5%;
    text-align: center
}
footer{
    background-color: brown;
    padding: 5% 10%;
    text-align: center;
    color: black;
    
}
.social-icon{
    margin: 20px 10px;
}
#carouselExampleControls{
    padding:2%
}